@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

/* 1: GENERAL STYLES    */
/* 2: NAVIGATION        */
/* 3: HOME PAGE         */
/* 3: FOOTER            */
/* 4: CATEGORY PAGE     */
/* 5: PRODUCTS PAGE     */
/* 6: CHECKOUT PAGE     */

/* 1: GENERAL STYLES    */

:root {
    --primary_color:  #976ad4; 
    --primary_color_dark: #674399;
    --grey: #f7f7f7;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #444;
}

.wrapper {
    width: 90%;
    margin: 0px auto;
}

.bread_crumb {
    background: var(--grey);
    display: flex;
}

.bread_crumb_item a {
    color: #333 !important;
    margin: 0px 5px;
}


.bread_crumb_item:not(:nth-child(1))::before {
    content: '/';
    width: 6px;
    color: #333;
    font-size: 10px;
    margin: 0px 3px;
}

a,
a:hover  {
    text-decoration: none;
    color: #444 !important;
}

.bold_text,
.bold_heading {
    font-weight: 900;
}
.small_text {
    font-size: 12px;
    color: rgb(158, 157, 157);
}

.transform_uppercase {
    text-transform: uppercase;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

.bg_primary {
    background: var(--primary_color_dark);
    color: #fff;
}

.primary_button {
    padding: 8px 20px;
    color: #fff !important;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: none;
    background: var(--primary_color_dark);
}

.primary_button::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: grow;
    -webkit-animation: grow;
    animation-duration: 0.4s;
}

.primary_button:hover::after{
    display: block;
}

.pagination {
    float: right;
}
@keyframes grow {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
/**********************************************/

/**********************************************/

/* 2: NAVIGATION        */
#navigation {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(151, 106, 212,0.7);
    color: #fff;
    z-index: 999;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
}

#navigation.remove_fixed {
    position: unset;
}

#navigation.opaque_bg {
    background: #fff;
    -webkit-box-shadow: 0px 7px 15px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 15px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 15px -6px rgba(0,0,0,0.75);
}

.navigation_top_banner {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#navigation .logo{
    font-size: 1rem;
    text-transform: lowercase;
    display: flex;
}

#navigation.opaque_bg .logo{
    color: var(--primary_color_dark);
    font-size: 1rem;
    text-transform: lowercase;
}

.navigation_top_banner_search_form {
    display: flex;
    grid-column: 2/4;
    position: relative;
}

.search_results {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 15px;
    color: #333;
    /*****************/
    display: none;
    justify-content: space-evenly;
    padding: 8px 0px;
    -webkit-box-shadow: 0px 7px 15px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 15px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 15px -6px rgba(0,0,0,0.75);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 1000;
}

.search_results::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 20px;
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid var(--grey);
    border-left: 15px solid transparent;
}

.search_results h6 {
    font-weight: bold;
}

/* .category_results {
    border-left: 1px solid #333;
} */

.product_results,
.category_results {
    padding: 5px 10px;
}

.product_results h6,
.category_results h6 {
    font-size: 0.85rem;
}

.search_term {
    color: var(--primary_color_dark);
}

.product_results_list_item a,
.category_results_list_item a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.product_results_list_item a span,
.category_results_list_item a span {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    font-size: 16px;
    margin-right: 5px;
}

.close_search_results {
    color: rgb(243, 79, 79);
    cursor: pointer;
}

.expand_menu_button {
    display: none;
    width:35px;
    height: 35px;
    margin-right: 10px;
    background: var(--primary_color_dark);
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.expand_menu_button div {
    height: 2px;
    width: 18px;
    background: #fff;
    margin: 2px 0px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.expand_menu_button.close div:nth-of-type(1) {
    transform: rotate(45deg) translate(2px, 3px);
    -webkit-transform: rotate(45deg) translate(2px, 3px);
    -moz-transform: rotate(45deg) translate(2px, 3px);
    -ms-transform: rotate(45deg) translate(2px, 3px);
    -o-transform: rotate(45deg) translate(2px, 3px);
}
.expand_menu_button.close div:nth-of-type(2) {
   display: none;
}
.expand_menu_button.close div:nth-of-type(3) {
    transform: rotate(-45deg) translate(2px, -1px);
    -webkit-transform: rotate(-45deg) translate(2px, -1px);
    -moz-transform: rotate(-45deg) translate(2px, -1px);
    -ms-transform: rotate(-45deg) translate(2px, -1px);
    -o-transform: rotate(-45deg) translate(2px, -1px);
}
.navigation_top_banner_search_form form {
    width: 100%;
}
.navigation_middle_banner input,
.navigation_top_banner_search_form input{
    width: 100%;
    height: 100%;
    border-top-left-radius: 18px !important;
    border-bottom-left-radius: 18px !important;
    border: 0px;
    background-color: var(--grey);
}

.navigation_top_banner_search_form input,
.navigation_middle_banner input {
    height: 48px;
}

.navigation_middle_banner button,
.navigation_top_banner_search_form button{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    border: 0px;
    background-color: var(--grey);
}

.navigation_top_banner_icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation_top_banner_icon span{
    color: #fff;
}

#navigation.opaque_bg .navigation_top_banner_icon span{
    color: #262626;
}
.navigation_top_banner_icon:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.navigation_top_banner_icon {
    margin: 0px 5px;
    position: relative;
    color: #262626;
    width: 35px;
    height: 35px;
    display: grid;
    place-content: center;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
}

.cart_items_count {
    position: absolute;
    top: -4px;
    right: -6px;
    font-size: 10px;
    line-height: 18px;
    background: var(--primary_color_dark);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.navigation_bottom_banner {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.navigation_bottom_banner_parent_list {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    /***************************/
    position: relative;
}

.navigation_bottom_banner_parent_list li {
    cursor: pointer;
}

.navigation_bottom_banner_parent_list li p{  
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_bottom_banner_parent_list li p,
.navigation_bottom_banner_parent_list li p span{
    font-size: 15px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navigation_bottom_banner_parent_list li p span {
    display: none;
}

.transform_icon {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

#navigation.opaque_bg .navigation_bottom_banner_parent_list li {
    color: #262626;
}

.sub_menu_item_title {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #262626;
}
.sub_menu {
    display: none;
    justify-content: space-between;

    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 0px 8%;
    background: #fff;
    border-top: 4px solid var(--primary_color);
    -webkit-box-shadow: 0px 28px 26px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 28px 26px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 28px 26px -1px rgba(0,0,0,0.75);
    }

.navigation_bottom_banner_parent_list li.reveal_sub_menu .sub_menu {
    display: flex;
}

.sub_menu.show_sub_menu {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.sub_menu_item_list_item {
    padding: 6px 0px;
}
.sub_menu_item_list_item a {
    color: #262626;
    text-decoration: none;
}

/* 3: HOME PAGE         */

#hero_section {
    height: 70vh;
    background: #f3f3f3;
}


.carousel,
.carousel-inner,
.carousel-item,
.carousel img {
    height: 100%;
}

.carousel img {
    object-fit: cover;
}
.carousel {
    position: relative;
}
.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(151, 106, 212, 0.2);
}


/* 3: HOME-PAGE PRODUCTS ON SALE */
#home_products_on_sale .container  {
    position: relative;
    padding: 0;
    overflow-x: hidden;
}

.product_on_sale_cards {
    position: relative;
    display: flex;
    width: 200%;
    transition: transform 0.4s ease-in-out;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
}

.products_on_sale_card {
    position: relative;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    background: var(--grey);
    margin: 10px;
}

.products_on_sale_card a {
    color: #262626;
}

.product_offer {
    position: absolute;
    top: 10px;
    left: 0;
    background: rgb(243, 56, 56);
    color: #fff;
    padding: 2px 15px;
}

.products_on_sale_card_content {
    padding: 15px;
}

.products_on_sale_card_image {
    flex: 2;
}
.products_on_sale_card_content {
    flex: 1;
}
.products_on_sale_card_content p,
.products_on_sale_card_content strong {
    font-size: 14px;
    font-weight: 900;
}
.products_on_sale_card_content hr {
    padding: 0;
    margin: 0;
}
.products_on_sale_card img {
    width: 100%;
    height: 100%;
}

.product_title {
    text-transform: uppercase;
    font-weight: 900;
}

.add_to_favorites {
    position: absolute;
    top: 10px;
    right: 10px;
    /* display: none; */
    
}

.products_on_sale_card.focused .add_to_favorites{
    display: block;
    color: var(--primary_color) !important;
}

.add_to_favorites a {
    color: rgb(252, 93, 93) !important;
    transition: 0.6s ease-in-out;
    -webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    -ms-transition: 0.6s ease-in-out;
    -o-transition: 0.6s ease-in-out;
}

.add_to_favorites:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.products_on_sale_card.focused .add_to_favorites a{
    color: rgb(253, 66, 66) !important;
}
.products_on_sale_card.focused .add_to_favorites:hover a{
    color: rgb(247, 14, 14) !important;
}

.previous_product_price {
    text-decoration: line-through;
}

.current_product_price {
    font-weight: bold;
}

.product_on_sale_cards_controls {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 998;
}

.buy_product {
    float: left;
    background: var(--primary_color);
}

.view_product {
    float: right;
    background: var(--primary_color_dark);
}

a.learn_more_link {
    padding: 8px 20px;
    color: #fff !important;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

a.learn_more_link::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    animation: grow;
    -webkit-animation: grow;
    animation-duration: 0.4s;
    
}

a.learn_more_link:hover::after {
    display: block;
}

.learn_more_link span{
    font-size: 18px;
    margin-left: 5px;
}

.previous_control,
.next_control {
    width: 34px;
    height: 34px;
    background: rgba(51, 51, 51, 0.9);
    color: #fff;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.previous_control {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.next_control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* NEWSLETTER  */
#newsletter {
    background: rgb(151,106,212);
    background: linear-gradient(90deg, rgba(151,106,212,1) 0%, rgba(204,181,235,1) 100%, rgba(103,67,153,1) 100%);
    padding: 20px 0px;
    color: #fff;
    margin: 20px 0px;
}
.newletter_form .input-group {
    display: grid;
    grid-template-columns: 1fr 150px;
}

.newletter_form .input-group input{
    width: 100%;
    height: 48px;
    border: none !important;
    background: rgb(238, 238, 238);
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
    outline: none;
}



.newletter_form .input-group button{
   background: var(--primary_color_dark);
   color: #fff;
   border: none !important;
   border-radius: unset;
   -webkit-border-radius: unset;
   -moz-border-radius: unset;
   -ms-border-radius: unset;
   -o-border-radius: unset;
}

/* 3: FOOTER            */
footer {
    background: var(--grey);
}

footer div {
    margin-top: 20px;
}
footer h6 {
    font-weight: bold;
    font-size: 13px;
}

footer .container,
.footer_links {
    display: flex;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    padding-inline-start: 0;
}

footer ul li a {
    color: #333;
    font-size: 14px;
}

.footer_social_icons {
    display: flex;
}

.footer_social_icons div {
    margin: 0px 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.facebook_icon {
    background: #4264A9;
}

.rss_icon {
    background: #F0001F;
}

.connect_icon {
    background: #36AAF4;
}

.notification_icon {
    background: #F0001F;
}

.footer_logo {
    flex: 1;
    font-size: 1rem;
    text-transform: lowercase;
}
.footer_links {
    flex: 2;
}

/**************************************************/
/* 4: CATEGORY PAGE     */
.category_product_cards {
    display: flex;
    flex-wrap: wrap;
}

/* sidebar ( filter category products )*/
.filter_category_products_form_option_list {
    display: none;
    -webkit-box-shadow: 0px 7px 15px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 15px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 15px -6px rgba(0,0,0,0.75);
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.filter_category_products_form form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.filter_category_products_form_option strong {
    border: 1px solid rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.filter_category_products_form_option:hover .filter_category_products_form_option_list{
    display: block;
}

.filter_category_products_form_option:hover strong span{
   transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transition: all 0.4s ease-in-out;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
}

/**************************************************/
/* 5: PRODUCTS PAGE     */

.product_description_images {
    overflow-x: hidden;
    padding: 0 !important;
}

.product_images_carousel {
    display: flex;
    width: auto;
    height: 400px;
    transition: transform .4s ease-in-out;
    -webkit-transition: transform .4s ease-in-out;
    -moz-transition: transform .4s ease-in-out;
    -ms-transition: transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
}

.product_images_carousel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product_thumbnails_carousel {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.product_thumbnails_carousel img {
    height: 100%;
    /* flex: 1; */
    object-fit: contain;
    border: 1px solid rgb(219, 219, 219);
    padding: 5px;
    margin: 0px 4px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}

.product_thumbnails_carousel img.current_thumbnail {
    opacity: 0.5;
}

.product_description_text {
    background: var(--grey);
}
.rrp {
    text-decoration: line-through;
}
.discounted_amount {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.product_price {
    font-size: 60px !important;
    color: var(--primary_color_dark);
}

.in_stock_status {
    color: var(--primary_color_dark);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stock_count {
    display: inline-block;
    background: rgb(194, 245, 74);
    margin-bottom: 10px;
}

.related_products_cards {
    display: flex;
    flex-wrap: wrap;
}

/***********************************************/
/* 6: CHECKOUT PAGE     */

.basket_items table td input {
    width: 60px;
}

.delete_button a span {
    color: rgb(243, 79, 79);
    cursor: pointer;
}


@media(max-width: 1100px) {
    .navigation_top_banner {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .navigation_top_banner_search_form {
        display: flex;
        grid-column: 1/5 !important;
        grid-row: 2/3;
    }

    .expand_menu_button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navigation_bottom_banner_parent_list {
        display: none;
    }

    .navigation_bottom_banner_parent_list.reveal_parent_list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .navigation_bottom_banner_parent_list li p{  
        justify-content: flex-start;
    }

    .navigation_bottom_banner_parent_list li p span {
        display: flex;
    }

    .navigation_bottom_banner_parent_list li p span {
        font-size: 22px;
        margin-right: 10px;
        color: var(--primary_color_dark);
    }

    .sub_menu {
        position: unset;
    }
}

@media(max-width: 768px) {
    .navigation_top_banner_icon {
        margin: 0px;
    }
    .sub_menu.show_sub_menu {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .bold_heading {
        font-size: 1.5rem !important;
    }

    .bold_heading.p-4 {
        padding: 1rem !important;
    }

    .newletter_form .input-group {
        grid-template-columns: 1fr 50px;
    }

    footer .container,
    .footer_links {
        display: flex;
        flex-direction: column;
    }
}    